.Navigation{
    background-color: black;
}

ul li{
    list-style: none;
    float: left;
    padding: 0px 30px;
    margin-left: 200px;
   
    
}
ul li a{
    text-decoration: none;
    font-size: 30px;
    
}